.people-img {
    filter: grayscale(100%); /* Makes the image black and white */
    transition: filter 0.3s ease; /* Adds a smooth transition effect */
  }
  
  .people-img:hover {
    filter: grayscale(0); /* Restores the color when hovered */
  }
  